.popup__button-save {
  max-width: 358px;
  max-height: 50px;
  margin: 48px 36px 37px;
  padding: 14px 0px 18px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: linear 1s;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .popup__button-save {
    padding: 14px 0px 14px;
    margin: 46px 22px 25px;
    max-width: 238px;
    max-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}