.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  height: 100%;
  }
  
  @media screen and (max-width: 540px) {
    .popup__container {
      max-width: 282px;
      width: 100%;
      max-height: 322px;
      height: 100%;
    }
  }