.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
}
  
@media screen and (max-width: 540px) {
  .popup__container {
    max-width: 282px;
  }
}