.element__heart {
  margin-right: 3px;
  background: #fff;
  background-image: url('../../../images/vector-heart.svg');
  border: none;
  width: 22px;
  height: 19px;
}

.element__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__heart:active {
  opacity: 1;
  background-image: url('../../../images/vector-heart-active.svg');
}