.popup__person {
  height: 27px;
  margin: 30px 36px 0px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #0003;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 540px) {
  .popup__person {
    margin: 32px 22px 0px;
  }
}