.profile__add {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url('../../../images/vector-plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  padding: 23.5px 73.5px;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 455px) {
  .profile__add {
    padding: 23.5px 139.5px;
    background-size: 16px;
  }
}