.element__button-heart {
  background: #fff;
  background-image: url('../../../images/vector-heart.svg');
  border: none;
  width: 22px;
  height: 19px;
  transition: linear 1s;
}

.element__button-heart:hover {
  opacity: 0.5;
  cursor: pointer;
}