.popup__button-close {
  background: none;
  background-image: url('../../../images/—Ålose-icon.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  padding: 32px;
  border: none;
  z-index: 1;
  position: absolute;
  top: -40px;
  right: -71px;
  transition: linear 1s;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .popup__button-close {
    background-size: 20px 20px;
    padding: 20px;
    top: -36px;
    right: -20px;
  }
}