.profile__person {
  grid-area: profile__person;
  max-width: 360px;
  margin: 4px 0px 0px;
  padding: 0;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 840px) {
  .profile__person {
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .profile__person {
    margin: 8px auto;
  }
}

@media screen and (max-width: 455px) {
  .profile__person {
    font-size: 14px;
    line-height: 17px;
  }
}